name: Pytest

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python_version: ['3.7', '3.8', '3.9', '3.10']
        isolated_backend_test: ['']
        include:
          - python_version: '3.9'
            isolated_backend_test: google
          - python_version: '3.9'
            isolated_backend_test: aws
    steps:
      - id: setup
        name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python_version }}

      - id: checkout
        name: Checkout PR
        uses: actions/checkout@v2

      - id: pytest
        name: Run Pytest
        run: make test
        env:
          GITHUB_CI: true
          ISOLATED_BACKEND_TEST: ${{ matrix.isolated_backend_test }}
          ISOLATED_VALIDATOR_TEST: ${{ matrix.isolated_validator_test }}
